.ExpoArte{
  background-color: #cc080a;
  color: #ffffff;
  background:linear-gradient(rgba(0, 0, 0, 0.616),rgba(0, 0, 0, 0.616)), url(../../img/paint.jpg) ;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  background-position: center;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.ExpoArte h1 {
  text-align: center;
  color: #4590ff;
    font-family: 'Merriweather', cursive;
  backdrop-filter: blur(30px);
}

.ExpoArte p {
  backdrop-filter: blur(50px);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}