@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.logo {
  position: absolute;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
}

.title span {
  color: #fded17;
  font-family:
    "Pacifico", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  -webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1)
    5ms both;
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) 5ms both;
}

.title h1,
.title p {
  color: #020101;
  font-family:
    "Pacifico", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  z-index: 20;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title h1 {
  font-size: 2.5em;
  margin: 0;
}

.title p {
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.logo img {
  position: absolute;
}

.back2 {
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.back3 {
  z-index: 2;
  top: 70%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
}

.back4 {
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Elementos do fundo (Sol e Montanhas) */
.sol {
  z-index: 3;
  top: -45%;
  left: 40%;
  width: 95%;
  height: auto;
}

.montanha3 {
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.montanha2 {
  z-index: 6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.montanha1 {
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Camada intermediária (Nuvens e Estrutura) */
.nuvem3 {
  z-index: 8;
  top: 10%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.nuvem2 {
  z-index: 9;
  top: 55%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
}

.nuvem1 {
  z-index: 10;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: auto;
}

.porta {
  z-index: 4;
  top: 50%;
  left: 70%;
  transform: translate(-70%, -50%);
  width: 90%;
  height: auto;
}

/* Elementos da frente (Objetos, Mão, Avião e Logo) */
.livro {
  z-index: 20;
  top: 90%;
  left: 13%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: auto;
}

.giz {
  z-index: 13;
  top: 98%;
  left: 95%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: auto;
}

.mao {
  z-index: 14;
  top: 0;
  left: 0;
  width: 70%;
  height: auto;
}

.aviao {
  z-index: 15;
  top: 60%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: auto;
}

.logo1, .logo2 {
  width: 70%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo1{
  z-index: 16;
}

.logo2{
  z-index: 15;
  visibility: hidden;
}