@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes nuvemMovimento1 {
  from {
    transform: translate(-50%, -50%);
  }

  to {
    transform: translate(calc(-50% + 30px), -50%);
  }
}

@keyframes nuvemMovimento2 {
  from {
    transform: translate(-50%, -50%);
  }

  to {
    transform: translate(calc(-50% - 40px), -50%);
  }
}

@font-face {
  font-family: "bryndan";
  src: url("../../fonts/BryndanWriteBook-nGPM.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.logo {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.logo img {
  position: absolute;
}

.logoReveal {
  pointer-events: auto;
}

.title span {
  color: #fded17;
  font-family:
    "Pacifico", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  -webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1)
    5ms both;
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) 5ms both;
}

.title h1,
.title p {
  color: #020101;
  font-family:"bryndan",
    "Pacifico", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  z-index: 20;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title h1 {
  font-size: 2.5em;
  margin: 0;
}

.title p {
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.back2 {
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.back3 {
  z-index: 2;
  top: 70%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
}

.back4 {
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Elementos do fundo (Sol e Montanhas) */
.sol {
  z-index: 3;
  top: -45%;
  left: 40%;
  width: 95%;
  height: auto;
  transform: translateX(calc(var(--mouse-x) * 10px));
  transition: transform 0.15s ease-out;
}

.montanha3 {
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.montanha2 {
  z-index: 6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.montanha1 {
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Camada intermediária (Nuvens e Estrutura) */
.nuvem3 {
  z-index: 8;
  top: 10%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.nuvem2 {
  z-index: 9;
  top: 55%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  animation: nuvemMovimento2 7s linear infinite alternate;
}

.nuvem1 {
  z-index: 10;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: auto;
  animation: nuvemMovimento1 6s linear infinite alternate;
}

.porta {
  z-index: 4;
  top: 50%;
  left: 70%;
  transform: translate(-70%, -50%);
  width: 90%;
  height: auto;
  transform: translate(calc(-70% + (var(--mouse-x) * 10px)), -50%);
  transition: transform 0.15s ease-out;
}

/* Elementos da frente (Objetos, Mão, Avião e Logo) */
.livro {
  z-index: 20;
  top: 90%;
  left: 13%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: auto;
}

.giz {
  z-index: 13;
  top: 98%;
  left: 95%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: auto;
}

.mao {
  z-index: 14;
  top: 0;
  left: -10px;
  width: 70%;
  height: auto;
  transform: translateX(calc(var(--mouse-x) * 10px));
  transition: transform 0.15s ease-out;
}

.aviao {
  z-index: 15;
  top: 60%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: auto;
  transform: translate(calc(-50% + (var(--mouse-x) * 10px)), -50%);
  transition: transform 0.15s ease-out;
}

/* Eleva o logoReveal acima dos outros elementos para garantir a captura do mouse */
.logoReveal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  aspect-ratio: 16 / 9;
  z-index: 100;
  pointer-events: auto;
  --x: 50%;
  --y: 50%;
  --radius: 0px;
}

.logo1,
.logo2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  pointer-events: none;
}

.logo1 {
  z-index: 1;
}

.logo2 {
  z-index: 2;
  /* Suporte para WebKit e padrão W3C */
  -webkit-clip-path: circle(var(--radius) at var(--x) var(--y));
  clip-path: circle(var(--radius) at var(--x) var(--y));
}

/* =========================================================
   2560px — Monitores muito grandes
   ========================================================= */
@media (min-width: 1921px) {
  .montanha1{
    left: 35%;
  }
  .montanha3{
    left: 65%;
  }
  .montanha1 ,.montanha2, .montanha3{
    top: 57%;
  }
  .back2{
    left: 65%;
  }
  .back4{
    top: 40%;
    left: 30%;
  }
}

/* =========================================================
   1440px — Desktop
   ========================================================= */
@media (min-width: 1201px) and (max-width: 1920px) {
  
}

/* =========================================================
   1024px — Notebook / Tablet landscape
   ========================================================= */
@media (min-width: 769px) and (max-width: 1200px) {
  .logo1,
  .logo2 {
    width: 200%;
    height: auto;
  }

  .sol{
    top: 25%;
  }

  .porta{
    top: 80%;
  }

  .nuvem3{
    visibility: hidden;
  }
}

/* =========================================================
   768px — Tablet
   ========================================================= */
@media (min-width: 426px) and (max-width: 768px) {
  .logo1,
  .logo2 {
    width: 200%;
    height: auto;
  }

  .sol{
    top: 40%;
  }

  .porta{
    top: 80%;
  }

  .nuvem3{
    visibility: hidden;
  }

}

/* =========================================================
   425px — Celular grande
   ========================================================= */
@media (min-width: 376px) and (max-width: 425px) {
  .logo1,
  .logo2 {
    width: 400%;
    height: auto;
  }

  .back2 {
    width: 600%;
    height: auto;
    top: 30%;
  }

  .nuvem3,
  .montanha1,
  .montanha3,
  .livro,
  .giz {
    visibility: hidden;
  }

  .mao {
    top: 5%;
    width: 100%;
    height: auto;
  }

  .porta {
    width: 150%;
    height: auto;
    top: 80%;
    left: 65%;
  }

  .nuvem1 {
    top: 30%;
  }

  .nuvem2 {
    top: 70%;
  }
}

/* =========================================================
   375px — Celular médio
   ========================================================= */
@media (min-width: 321px) and (max-width: 375px) {
  .logo1,
  .logo2 {
    width: 400%;
    height: auto;
  }

  .back2 {
    width: 600%;
    height: auto;
    top: 30%;
  }

  .nuvem3,
  .montanha1,
  .montanha3,
  .livro,
  .giz {
    visibility: hidden;
  }

  .mao {
    top: 5%;
    width: 100%;
    height: auto;
  }

  .porta {
    width: 150%;
    height: auto;
    top: 80%;
    left: 65%;
  }

  .nuvem1 {
    top: 30%;
  }

  .nuvem2 {
    top: 70%;
  }
}

/* =========================================================
   320px — Celular pequeno
   ========================================================= */
@media (max-width: 320px) {
  .logo1,
  .logo2 {
    width: 400%;
    height: auto;
  }

  .back2 {
    width: 600%;
    height: auto;
    top: 30%;
  }

  .nuvem3,
  .montanha1,
  .montanha3,
  .livro,
  .giz {
    visibility: hidden;
  }

  .mao {
    top: 5%;
    width: 100%;
    height: auto;
  }

  .porta {
    width: 150%;
    height: auto;
    top: 80%;
    left: 65%;
  }

  .nuvem1 {
    top: 30%;
  }

  .nuvem2 {
    top: 70%;
  }
}
