.IFantasy{
    margin-top: 4em;
    background-color: #cc080a;
    color: #ffffff;
    background:linear-gradient(rgba(0, 0, 0, 0.616),rgba(0, 0, 0, 0.616)), url(../../img/cortina.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

.IFantasy h1{
    text-align: center;
    margin-top: 1.4em;
    margin-bottom: 1em;
    color: #d6b363;
    font-family: 'Sacramento', cursive;
    backdrop-filter: blur(30px);
}

.IFantasy p {
    text-indent:2em;
    backdrop-filter: blur(50px);
    text-align: justify;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.IFantasy img{
    height: 25em;
    width: auto;
    border-radius: 5%;
    transition: all ease 0.4s;


}



.IFantasy div{
    display: flex;
    flex-direction: row;
    height: auto;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
    backdrop-filter: blur(30px);

    
}


@media (max-width: 1130px) {
    .IFantasy div {
      flex-direction: column;
    }
    .IFantasy img{
        height: auto;
        width: 100%;
      }
  }
  