.IFantasy {
    background-color: #cc080a;
    color: #ffffff;
    background: linear-gradient(rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0.616)), url(../../img/cortina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
}


.IFantasy h1 {
    text-align: center;
    color: #d6b363;
    font-family:'fantasy', 'Sacramento', 'cursive';
    backdrop-filter: blur(30px);
}

.IFantasy p {
    backdrop-filter: blur(50px);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}