.container {
    scroll-behavior: initial;
    width: 100%;
    max-width: 100%;
    min-height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0 auto;
    overflow: hidden; /* Evita que o conteúdo extravase */
}

.min-height {
    min-height: min-content;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Alkatra';
}