.footer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    align-items: center;
    
    background-color: #080808;
    color: #fefefe;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    font-size: 1em;
    height: auto;
    width: auto;
}

.footer img{
    width: 4em;
    height: auto;
}

.footer ul{
    text-decoration: none;
    display: flex;
    flex-direction:row;
    list-style-type: none;
    justify-content: center;

}

.footer ul li{
    margin: 0 1em;
}

.footer ul li:hover{
    color: #fded17 ;
}

.footer ul svg{
    font-size: 1.5em;
    cursor: pointer;
    color: #fefefe;
}

.footer ul svg:hover{
    cursor: pointer;
    color: #fded17;
}


.copy{
    margin-top: 1em;
    font-size: 1.1em;
}

.copy span{
    font-family:'Pacifico','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fded17;
}



@media screen and (max-width: 645px) {
    .footer{
        display: flex;
        flex-direction: column;
    }
  }


  .footerIFantasy{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color:#a10809;
    color: #fefefe;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    font-size: 1em;
    width: 100%;
}

.footerIFantasy img{
    width: 4em;
    height: auto;
}

.footerIFantasy ul{
    text-decoration: none;
    display: flex;
    flex-direction:row;
    list-style-type: none;
    justify-content: center;

}

.footerIFantasy ul li{
    margin: 0 1em;
}

.footerIFantasy ul li:hover{
    color: #d6b363 ;
}

.footerIFantasy ul svg{
    font-size: 1.5em;
    cursor: pointer;
    color: #fefefe;
}

.footerIFantasy ul svg:hover{
    cursor: pointer;
    color: #d6b363;
}

