.navbar{
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    width: 100%;
    position: fixed;
    transition: all ease 0.4s;
    height: 5em;

    
}


.ativaCor{

    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: rgba(0,0, 0, 0.9);
    padding: 1em;
    width: 100%;
    transition: all ease 0.4s;
    z-index: 999;
    height: 4.5em;
    
}

.ativaCor{
    font-size: 0.7em;
}

.img{
    width: 3em;
    height: 3em;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item, .itemIFantasy, .itemIFashion, .itemExpoArte{
    margin-right: 1em;
    font-size: 2em;
    
}

li{
    list-style: none;
}

.item a{
    font-size: 1em;
    color: #fefefe;
    text-decoration: none;
    font-family: 'Pacifico','Fasthand';
}

.item a:hover{
    color: #85badf;
}

.itemH{
    display: none;
}


@media screen and (max-width: 740px) {

    .img{
        display: none;
    }
    
  }

  @media screen and (max-width: 500px) {

    .navbar,.navbarIFantasy,.navbarExpoArte,.navbarIFashion{
        font-size: 0.7em;
        height: 4.5em;
    }
    
  }


  /*ITEM TESTE*/

.itemIFantasy a{
    font-size: 1em;
    color: #fefefe;
    text-decoration: none;
    font-family: 'Pacifico','Fasthand';
}

.itemIFantasy a:hover{
    color: #d6b363;
}

.navbarIFantasy{
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    width: 100%;
    position: fixed;
    transition: all ease 0.4s;
    height: 5em;
    background-color: #a2150d;
    
}

.navbarIFantasy .itemIFantasy a:hover{
    color: #d6b363;
}


/*IFashion */

.itemIFashion a{
    font-size: 1em;
    color: #fefefe;
    text-decoration: none;
    font-family: 'Pacifico','Fasthand';
}

.itemIFashion a:hover{
    color: #585858;
}

.navbarIFashion{
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    width: 100%;
    position: fixed;
    transition: all ease 0.4s;
    height: 5em;
    background-color: #000000;
    
}

.navbarIFashion .itemIFashion a:hover{
    color: #585858;
}


/*ExpoArte */

.itemExpoArte a{
    font-size: 1em;
    color: #fefefe;
    text-decoration: none;
    font-family: 'Pacifico','Fasthand';
}



.navbarExpoArte{
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    width: 100%;
    position: fixed;
    transition: all ease 0.4s;
    height: 5em;
    background-color: #131313;
    
}

.navbarExpoArte .itemExpoArte a:hover{
    color: #4590ff;
}