.navbar {
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  width: 100%;
  position: fixed;
  transition: all ease 0.4s;
  height: 5em;
  z-index: 999;
}

.ativaCor {
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  position: fixed;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 1em;
  width: 100%;
  transition: all ease 0.4s;
  z-index: 999;
  height: 4.5em;
}

.ativaCor {
  font-size: 0.7em;
}

.img {
  width: 3em;
  height: 3em;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}

.item {
  margin-right: 1em;
  font-size: 2em;
}

li {
  list-style: none;
}

.item a {
  font-size: 1em;
  color: #fefefe;
  text-decoration: none;
  font-family: "Pacifico", "Fasthand";
}

.item a:hover {
  color: #feed17;
}

.itemH {
  display: none;
}

@media screen and (max-width: 740px) {
  .img {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .navbar,
  .navbarIFantasy,
  .navbarExpoArte,
  .navbarIFashion {
    font-size: 0.7em;
    height: 4.5em;
  }
}
